[core]
# The home folder for airflow, default is ~/airflow
airflow_home = {{ airflow_home }}

# The folder where your airflow pipelines live, most likely a
# subfolder in a code repository
dags_folder = {{ airflow_dags_folder }}

# The folder where airflow should store its log files. This location
base_log_folder = {{ airflow_base_log_folder }}

# An S3 location can be provided for log backups
# For S3, use the full URL to the base folder (starting with "s3://...")
remote_base_log_folder = {{ airflow_s3_log_folder }}

# The executor class that airflow should use. Choices include
# SequentialExecutor, LocalExecutor, CeleryExecutor
executor = {{ airflow_executor }}

# The SqlAlchemy connection string to the metadata database.
# SqlAlchemy supports many different database engine, more information
# their website
sql_alchemy_conn = {{ airflow_sql_alchemy_conn }}

# The SqlAlchemy pool size is the maximum number of database connections
# in the pool.
sql_alchemy_pool_size = {{ airflow_sql_alchemy_pool_size }}

# The SqlAlchemy pool recycle is the number of seconds a connection
# can be idle in the pool before it is invalidated. This config does
# not apply to sqlite.
sql_alchemy_pool_recycle = {{ airflow_sql_alchemy_pool_recycle }}

# The amount of parallelism as a setting to the executor. This defines
# the max number of task instances that should run simultaneously
# on this airflow installation
parallelism = {{ airflow_parallelism }}

# The number of task instances allowed to run concurrently by the scheduler
dag_concurrency = {{ airflow_dag_concurrency }}

# Are DAGs paused by default at creation
dags_are_paused_at_creation = {{ airflow_dags_are_paused_at_creation }}

# The maximum number of active DAG runs per DAG
max_active_runs_per_dag = {{ airflow_max_active_runs_per_dag }}

# Whether to load the examples that ship with Airflow. It's good to
# get started, but you probably want to set this to False in a production
# environment
load_examples = {{ airflow_load_examples }}

# Where your Airflow plugins are stored
plugins_folder = {{ airflow_plugins_folder }}

# Secret key to save connection passwords in the db
fernet_key = {{ airflow_fernet_key }}

# Whether to disable pickling dags
donot_pickle = {{ airflow_donot_pickle }}

# How long before timing out a python file import while filling the DagBag
dagbag_import_timeout = {{ airflow_dagbag_import_timeout }}

[webserver]
# The base url of your website as airflow cannot guess what domain or
# cname you are using. This is use in automated emails that
# airflow sends to point links to the right web server
base_url = {{ airflow_base_url }}

# The ip specified when starting the web server
web_server_host = {{ airflow_web_server_host }}

# The port on which to run the web server
web_server_port = {{ airflow_web_server_port }}

# Secret key used to run your flask app
secret_key = {{ airflow_secret_key }}

# Number of workers to run the Gunicorn web server
workers = {{ airflow_workers }}

# The worker class gunicorn should use. Choices include
# sync (default), eventlet, gevent
worker_class = {{ airflow_worker_class }}

# Expose the configuration file in the web server
expose_config = {{ airflow_expose_config }}

# Set to true to turn on authentication : http://pythonhosted.org/airflow/installation.html#web-authentication
authenticate = {{ airflow_authenticate }}

# Filter the list of dags by owner name (requires authentication to be enabled)
filter_by_owner = {{ airflow_filter_by_owner }}

[email]
email_backend = {{ airflow_email_backend }}

[smtp]
# If you want airflow to send emails on retries, failure, and you want to
# the airflow.utils.send_email function, you have to configure an smtp
# server here
smtp_host = {{ airflow_smtp_host }}
smtp_starttls = {{ airflow_smtp_starttls }}
smtp_ssl = {{ airflow_smtp_ssl }}
smtp_user = {{ airflow_smtp_user }}
smtp_port = {{ airflow_smtp_port }}
smtp_password = {{ airflow_smtp_password }}
smtp_mail_from = {{ airflow_smtp_mail_from }}

[celery]
# This section only applies if you are using the CeleryExecutor in
# [core] section above

# The app name that will be used by celery
celery_app_name = {{ airflow_celery_app_name }}

# The concurrency that will be used when starting workers with the
# "airflow worker" command. This defines the number of task instances that
# a worker will take, so size up your workers based on the resources on
# your worker box and the nature of your tasks
celeryd_concurrency = {{ airflow_celeryd_concurrency }}

# When you start an airflow worker, airflow starts a tiny web server
# subprocess to serve the workers local log files to the airflow main
# web server, who then builds pages and sends them to users. This defines
# the port on which the logs are served. It needs to be unused, and open
# visible from the main web server to connect into the workers.
worker_log_server_port = {{ airflow_worker_log_server_port }}

# The Celery broker URL. Celery supports RabbitMQ, Redis and experimentally
# a sqlalchemy database. Refer to the Celery documentation for more
# information.
broker_url = {{ airflow_broker_url }}

# Another key Celery setting
celery_result_backend = {{ airflow_celery_result_backend }}

# Celery Flower is a sweet UI for Celery. Airflow has a shortcut to start
# it `airflow flower`. This defines the port that Celery Flower runs on
flower_port = {{ airflow_flower_port }}

# Default queue that tasks get assigned to and that worker listen on.
default_queue = {{ airflow_default_queue }}

[scheduler]
# Task instances listen for external kill signal (when you clear tasks
# from the CLI or the UI), this defines the frequency at which they should
# listen (in seconds).
job_heartbeat_sec = {{ airflow_job_heartbeat_sec }}

# The scheduler constantly tries to trigger new tasks (look at the
# scheduler section in the docs for more information). This defines
# how often the scheduler should run (in seconds).
scheduler_heartbeat_sec = {{ airflow_scheduler_heartbeat_sec }}

# Statsd (https://github.com/etsy/statsd) integration settings
# statsd_on = {{ airflow_statsd_on }}
# statsd_host = {{ airflow_statsd_host }}
# statsd_port = {{ airflow_statsd_port }}
# statsd_prefix = {{ airflow_statsd_prefix }}

[mesos]
# Mesos master address which MesosExecutor will connect to.
master = {{ airflow_mesos_master }}

# The framework name which Airflow scheduler will register itself as on mesos
framework_name = {{ airflow_mesos_framework_name }}

# Number of cpu cores required for running one task instance using
# 'airflow run <dag_id> <task_id> <execution_date> --local -p <pickle_id>'
# command on a mesos slave
task_cpu = {{ airflow_mesos_task_cpu }}

# Memory in MB required for running one task instance using
# 'airflow run <dag_id> <task_id> <execution_date> --local -p <pickle_id>'
# command on a mesos slave
task_memory = {{ airflow_mesos_task_memory }}

# Enable framework checkpointing for mesos
# See http://mesos.apache.org/documentation/latest/slave-recovery/
checkpoint = {{ airflow_mesos_checkpoint }}

# Failover timeout in milliseconds.
# When checkpointing is enabled and this option is set, Mesos waits until the configured timeout for
# the MesosExecutor framework to re-register after a failover. Mesos shuts down running tasks if the
# MesosExecutor framework fails to re-register within this timeframe.
# failover_timeout = {{ airflow_mesos_failover_timeout }}

# Enable framework authentication for mesos
# See http://mesos.apache.org/documentation/latest/configuration/
authenticate = {{ airflow_mesos_authenticate }}

# Mesos credentials, if authentication is enabled
# default_principal = {{ airflow_mesos_default_principal }}
# default_secret = {{ airflow_mesos_default_secret }}