[Unit]
Description=Airflow Daemon

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=32768
Restart=on-failure
Environment="AIRFLOW_HOME={{ airflow_home }}"
ExecStart=/usr/local/bin/airflow webserver -p 8080

[Install]
WantedBy=multi-user.target