[all]
{{ staging_zookeeper_nodes.stdout }}
{{ staging_kafka_nodes.stdout }}
{{ production_zookeeper_nodes.stdout }}
{{ production_kafka_nodes.stdout }}
{{ production_es_nodes.stdout }}

[stg-zookeeper-nodes]
{{ staging_zookeeper_nodes.stdout }}

[stg-kafka-nodes]
{{ staging_kafka_nodes.stdout }}

[prod-zookeeper-nodes]
{{ production_zookeeper_nodes.stdout }}

[prod-kafka-nodes]
{{ production_kafka_nodes.stdout }}

[ansible_jumpbox-nodes]
{{ jumpbox_nodes.stdout }}

[stg-zeppelin-nodes]
{{ staging_zeppelin_nodes.stdout }}

[prod-airflow-nodes]
{{ production_airflow_nodes.stdout }}


[prod-es-nodes]
{{ production_es_nodes.stdout }}

[prod-es-master-nodes]
{{ production_es_master_nodes.stdout }}

[prod-es-master-data-nodes]
{{ production_es_master_data_nodes.stdout }}

[prod-es-data-nodes]
{{ production_es_data_nodes.stdout }}
