[Unit]
Description=Apache Zeppelin

[Service]
User={{ zeppelin_service_username }}
Group={{ zeppelin_service_username }}
WorkingDirectory={{ zeppelin_working_directory }}
ExecStart=/opt/zeppelin/bin/zeppelin-daemon.sh upstart
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target