<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<!--
   Licensed to the Apache Software Foundation (ASF) under one or more
   contributor license agreements.  See the NOTICE file distributed with
   this work for additional information regarding copyright ownership.
   The ASF licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance with
   the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<configuration>

<property>
  <name>zeppelin.server.addr</name>
  <value>{{ zeppelin_server_addr }}</value>
  <description>Server address</description>
</property>

<property>
  <name>zeppelin.server.port</name>
  <value>{{ zeppelin_server_port }}</value>
  <description>Server port.</description>
</property>

<property>
  <name>zeppelin.server.context.path</name>
  <value>{{ zeppelin_server_context_path }}</value>
  <description>Context Path of the Web Application</description>
</property>

<property>
  <name>zeppelin.war.tempdir</name>
  <value>{{ zeppelin_war_tempdir }}</value>
  <description>Location of jetty temporary directory</description>
</property>

<property>
  <name>zeppelin.notebook.dir</name>
  <value>{{ zeppelin_notebook_dir }}</value>
  <description>path or URI for notebook persist</description>
</property>

<property>
  <name>zeppelin.notebook.homescreen</name>
  <value>{{ zeppelin_notebook_homescreen }}</value>
  <description>id of notebook to be displayed in homescreen. ex) 2A94M5J1Z Empty value displays default home screen</description>
</property>

<property>
  <name>zeppelin.notebook.homescreen.hide</name>
  <value>{{ zeppelin_notebook_homescreen_hide }}</value>
  <description>hide homescreen notebook from list when this value set to true</description>
</property>


{% if zeppelin_notebook_s3_storage_enabled == True %}
<!-- Amazon S3 notebook storage -->
<!-- Creates the following directory structure: s3://{bucket}/{username}/{notebook-id}/note.json -->
<property>
  <name>zeppelin.notebook.s3.user</name>
  <value>{{ zeppelin_notebook_s3_user }}</value>
  <description>user name for s3 folder structure</description>
</property>

<property>
  <name>zeppelin.notebook.s3.bucket</name>
  <value>{{ zeppelin_notebook_s3_bucket }}</value>
  <description>bucket name for notebook storage</description>
</property>

<property>
  <name>zeppelin.notebook.s3.endpoint</name>
  <value>{{ zeppelin_notebook_s3_endpoint }}</value>
  <description>endpoint for s3 bucket</description>
</property>

<property>
  <name>zeppelin.notebook.storage</name>
  <value>{{ zeppelin_notebook_s3_storage }}</value>
  <description>notebook persistence layer implementation</description>
</property>
{% endif %}

{% if zeppelin_notebook_s3_storage_kms == True %}
<!-- Additionally, encryption is supported for notebook data stored in S3 -->
<!-- Use the AWS KMS to encrypt data -->
<!-- If used, the EC2 role assigned to the EMR cluster must have rights to use the given key -->
<!-- See https://aws.amazon.com/kms/ and http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html -->
<property>
  <name>zeppelin.notebook.s3.kmsKeyID</name>
  <value>{{ zeppelin_notebook_s3_kmsKeyID }}</value>
  <description>AWS KMS key ID used to encrypt notebook data in S3</description>
</property>
{% endif %}

{% if zeppelin_notebook_s3_encryption_materials_provider == True %}
<!-- Use a custom encryption materials provider to encrypt data -->
<!-- No configuration is given to the provider, so you must use system properties or another means to configure -->
<!-- See https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/s3/model/EncryptionMaterialsProvider.html -->
<property>
  <name>zeppelin.notebook.s3.encryptionMaterialsProvider</name>
  <value>{{ zeppelin_notebook_s3_encryptionMaterialsProvider }}</value>
  <description>Custom encryption materials provider used to encrypt notebook data in S3</description>
</property>
{% endif %}

{% if zeppelin_notebook_azure_storage_enabled == True %}
<!-- If using Azure for storage use the following settings -->
<property>
  <name>zeppelin.notebook.azure.connectionString</name>
  <value>{{ zeppelin_notebook_azure_connectionString }}</value>
  <description>Azure account credentials</description>
</property>

<property>
  <name>zeppelin.notebook.azure.share</name>
  <value>{{ zeppelin_notebook_azure_share }}</value>
  <description>share name for notebook storage</description>
</property>

<property>
  <name>zeppelin.notebook.azure.user</name>
  <value>{{ zeppelin_notebook_azure_user }}</value>
  <description>optional user name for Azure folder structure</description>
</property>

<property>
  <name>zeppelin.notebook.storage</name>
  <value>{{ zeppelin_notebook_azure_storage }}</value>
  <description>notebook persistence layer implementation</description>
</property>
{% endif %}

{% if zeppelin_notebook_git_storage_enabled == True %}
<!-- For versioning your local notebook storage using Git repository -->
<property>
  <name>zeppelin.notebook.storage</name>
  <value>{{ zeppelin_notebook_git_storage }}</value>
  <description>notebook persistence layer implementation</description>
</property>
{% endif %}

{% if zeppelin_notebook_zeppelinhub_storage_enabled == True %}
<!-- For connecting your Zeppelin with ZeppelinHub -->
<property>
  <name>zeppelin.notebook.storage</name>
  <value>{{ zeppelin_notebook_git_storage }}</value>
  <description>two notebook persistence layers (local + ZeppelinHub)</description>
</property>
{% endif %}

{% if zeppelin_notebook_local_storage_enabled == True %}
<property>
  <name>zeppelin.notebook.storage</name>
  <value>{{ zeppelin_notebook_local_storage }}</value>
  <description>notebook persistence layer implementation</description>
</property>
{% endif %}

<property>
  <name>zeppelin.interpreter.dir</name>
  <value>{{ zeppelin_interpreter_dir }}</value>
  <description>Interpreter implementation base directory</description>
</property>

<property>
  <name>zeppelin.interpreter.localRepo</name>
  <value>{{ zeppelin_interpreter_localRepo }}</value>
  <description>Local repository for interpreter's additional dependency loading</description>
</property>

<property>
  <name>zeppelin.interpreters</name>
  <value>{{ zeppelin_interpreters }}</value>
  <description>Comma separated interpreter configurations. First interpreter become a default</description>
</property>

<property>
  <name>zeppelin.interpreter.connect.timeout</name>
  <value>{{ zeppelin_interpreter_connect_timeout }}</value>
  <description>Interpreter process connect timeout in msec.</description>
</property>


<property>
  <name>zeppelin.ssl</name>
  <value>{{ zeppelin_ssl }}</value>
  <description>Should SSL be used by the servers?</description>
</property>

<property>
  <name>zeppelin.ssl.client.auth</name>
  <value>{{ zeppelin_ssl_client_auth }}</value>
  <description>Should client authentication be used for SSL connections?</description>
</property>

<property>
  <name>zeppelin.ssl.keystore.path</name>
  <value>{{ zeppelin_ssl_keystore_path }}</value>
  <description>Path to keystore relative to Zeppelin configuration directory</description>
</property>

<property>
  <name>zeppelin.ssl.keystore.type</name>
  <value>{{ zeppelin_ssl_keystore_type }}</value>
  <description>The format of the given keystore (e.g. JKS or PKCS12)</description>
</property>

<property>
  <name>zeppelin.ssl.keystore.password</name>
  <value>{{ zeppelin_ssl_keystore_password }}</value>
  <description>Keystore password. Can be obfuscated by the Jetty Password tool</description>
</property>

{% if zeppelin_ssl_key_manager_password != "change me" %}
<property>
  <name>zeppelin.ssl.key.manager.password</name>
  <value>{{ zeppelin_ssl_key_manager_password }}</value>
  <description>Key Manager password. Defaults to keystore password. Can be obfuscated.</description>
</property>
{% endif %}

<property>
  <name>zeppelin.ssl.truststore.path</name>
  <value>{{ zeppelin_ssl_truststore_path }}</value>
  <description>Path to truststore relative to Zeppelin configuration directory. Defaults to the keystore path</description>
</property>

<property>
  <name>zeppelin.ssl.truststore.type</name>
  <value>{{ zeppelin_ssl_truststore_type }}</value>
  <description>The format of the given truststore (e.g. JKS or PKCS12). Defaults to the same type as the keystore type</description>
</property>

{% if zeppelin_ssl_truststore_password != "change me" %}
<property>
  <name>zeppelin.ssl.truststore.password</name>
  <value>{{ zeppelin_ssl_truststore_password }}</value>
  <description>Truststore password. Can be obfuscated by the Jetty Password tool. Defaults to the keystore password</description>
</property>
{% endif %}

<property>
  <name>zeppelin.server.allowed.origins</name>
  <value>{{ zeppelin_server_allowed_origins }}</value>
  <description>Allowed sources for REST and WebSocket requests (i.e. http://onehost:8080,http://otherhost.com). If you leave * you are vulnerable to https://issues.apache.org/jira/browse/ZEPPELIN-173</description>
</property>

<property>
  <name>zeppelin.anonymous.allowed</name>
  <value>{{ zeppelin_anonymous_allowed }}</value>
  <description>Anonymous user allowed by default</description>
</property>

<property>
  <name>zeppelin.websocket.max.text.message.size</name>
  <value>{{ zeppelin_websocket_max_text_message_size }}</value>
  <description>Size in characters of the maximum text message to be received by websocket. Defaults to 1024000</description>
</property>

</configuration>