[Unit]
Description=Kibana {{ kibana.version }}
After=syslog.target network.target

[Service]
Type=simple
Environment=NODE_ENV=production
ExecStart={{ kibana.install_dir }}bin/kibana -c {{ kibana.install_dir }}config/kibana.yml
Restart=on-failure

[Install]
WantedBy=multi-user.target